<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blog Finder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blog Finder</ion-title>
    </ion-toolbar>
  </ion-header>
    <ion-list>
      <ion-item>
        <ion-input placeholder="Enter Title" [(ngModel)]="title" color="primary">
        </ion-input>
        
        <ion-button (click)="blog()">Submit</ion-button>
     
      </ion-item>
    </ion-list>
    <div *ngIf="flag">
      <div *ngFor="let data1 of api">
        
        <p class="multi_lines_text">
        {{data1[0]}}
        </p>
        <ion-label><a href="{{data1[1]}}">{{data1[1]}}</a></ion-label>
        
      </div>
    </div>
</ion-content>
